.acordeon2{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
color: aliceblue;
background-color: rgb(46 46 46);
width:40vw;
transition: 0.5s;
}

.acordeon2:hover{
    transform:scale(1.01);
}

.acordeon2 li{
    padding: 5px;
    font-family: "calistoga";
}

.acordeon2 li a{
    color: aliceblue;
}
.acordeon2 li a:hover{
    color: #fffa00;
}
.acordeon2 i{
    color: #fffa00;
}